<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- Jobs -->
	<bean id="testJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="spring.jobs.MyQuartz" />
	</bean>

	<!-- Jobs trigger -->
	<bean id="testJobCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="testJob" />
		<property name="cronExpression" value="* 40 * * * ?" /> <!-- every minute -->
	</bean>

	<!-- Job List -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="applicationContextSchedulerContextKey">
			<value>applicationContext</value>
		</property>
		<property name="triggers">
			<list>
				<ref bean="testJobCronTrigger" />
			</list>
		</property>
	</bean>

</beans>